body{
	font-family:sans-serif;
}
.main-container{
	position:relative;
}
.title-container{
	z-index: 1;
	left: 37%;
	position:absolute;
	width: 300px;
	height: 300px;
	-moz-border-radius: 150px; 
	-webkit-border-radius: 150px; 
	border-radius: 150px;
	text-align:center;
	border : 2px solid #FFF;
	transition :border-left 1s,border-right 1s, box-shadow 1s;
}
.title-container:hover{
	box-shadow:0 0 10px #FFF;
	border-left: 5px;
	border-right: 5px;
  	border-left-color : transparent;
  	border-right-color : transparent;
  	border-radius : 50%;
  	animation : spin 3s infinite;
  	-webkit-animation : spin 3s infinite;
}
.big-p{
	color:#FFF;
	font-size: 75px;
	text-shadow:0px 0px 5px #FFF ;
}
.spinner {
  height : 100px;
  width : 100px;
  /*background-color : #61615E;*/
  border : 2px solid #616161;
  border-left-color : transparent;
  border-right-color : transparent;
  border-radius : 50%;
  animation : spin 3s infinite;
  -webkit-animation : spin 3s infinite;
}

@-webkit-keyframes spin {
  0% {-webkit-transform : rotate(0deg);}
  50% {-webkit-transform : rotate(720deg);}
  100% {-webkit-transform : rotate(0deg);}
}

@keyframes spin {
  0% {transform : rotate(0deg);}
  50% {transform : rotate(720deg);}
  100% {transform : rotate(0deg);}
}